* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
h1{
    color: #fff;
    font-size: 50px;
}
h2 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 35%;
    padding-bottom: 0px;
}
header {
    background-image: url("../img/portada.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

header nav {
    height: 70px;
    background: red;
    display: flex;
    justify-content: space-between
}

.icono {
    display: none;
}

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h2,h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #06e5f5;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
.enlaces {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.enlaces a {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 4px 0;
    transition: 0.7s ease-out;
    color: #fff;
    text-decoration: none;
}

.enlaces a:hover,
.active {
    border-top: 2px solid rgb(107, 28, 22);
    border-bottom: 2px solid rgb(107, 28, 22);
}

nav .logo {
    height: 100%;
    background: #fff;
    margin-left: 80px;
}

nav .logo img {
    object-fit: cover;
    height: inherit;
}

.content-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}

.content-header > img{
    width: 510px;
    animation: ease-in animationimg 1s;
}

.Eventos{
    background: white;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-event{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-event > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(244, 248, 4, 0.377);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
footer{
    width: 100%;
    background: #052538;
    color: white;
    padding: 40px;
}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.container-body{
    display: flex;
    justify-content: space-between;
}
.colum1{
    max-width: 400px;
}
.colum1 h1{
    font-size: 22px;
}
.colum1 p{
    font-size: 14px;
    color:#9e9797;
    margin-top: 20px;
}
table{
    margin-top: 20px;
    border-collapse: collapse;
    background-color: rgb(79, 71, 82);
}
.table h1{
    font-size: 22px;
}
td{
    font-size: 22px;
    border: 3px solid rgb(80, 4, 74);
}

.colum2{
    max-width: 400px;
}
.colum2 h1{
    font-size: 22px;
}
.row{
    margin-top: 20px;
    display: flex;
}
.row img{
    width: 36px;
    height: 36px;
    transition: 0.5s;
}
.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #9e9797;
}
.colum3{
    max-width: 400px;
}
.colum3 h1{
    font-size: 22px;
}
.row2{
    margin-top: 20px;
}
.row2 img{
    width: 36px;
    height: 36px;
}
.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}
.footer-box .form-control{
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}
.titulo-final{
        
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@keyframes animationimg{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@media screen and (max-width:750px) {
    .icono {
        display: flex;
        justify-content: center;
        height: 70px;
        align-items: center;
        color: #fff;
        background: transparent;
        padding: 20px;
        z-index: 100;
        cursor: pointer;
        margin-right: 40px;
    }

    header .container h1 {
        font-size: 75px;
    }

    .enlaces {
        position: fixed;
        height: 100vh;
        right: 0;
        width: 100%;
        flex-direction: column;
        transition: all 1s ease;
        background: #f46b45;
        background: -webkit-linear-gradient(to right, #bb8a83, red);
        background: linear-gradient(to right, #bb8a83, red);
        

    }

    .uno {

        -webkit-clip-path: circle(0% at 100% 0%);
        clip-path: circle(0% at 100% 0%);

    }

    .dos {

        -webkit-clip-path: circle(150% at 100% 0%);
        clip-path: circle(150% at 100% 0%);

    }
}
.content-header a{
    background: red;
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background:#f01b0c;
    text-align: center;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 30px rgb(201, 31, 222/0.3);
}
@media screen and (max-width:400px){
    nav .logo{
        margin-left: 20px;
    }
    .icono{
        margin-right:20px;
    }

    header .container h1 {
        font-size: 65px;
    }
}